<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="admin/html/index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="admin/LoginStyle/img/logo2.png" alt="" width="200px" />
      </span>
      <!-- <span class="app-brand-text demo menu-text fw-bolder ms-2"
      >Shoppanies</span
    > -->
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a href="http://localhost:5000/index" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/add_product" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Add Products</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/view_size" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Add Size</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/view_colors" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Add Colour</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/view_products" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Products</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/categories" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Add Category</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/coupons" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Add Coupons</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/users" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Users</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="http://localhost:5000/reviews" class="menu-link">
        <i class=""></i>
        <div data-i18n="Analytics">Reviews</div>
      </a>
    </li>
    <li class="menu-item">
      <a
        href="http://localhost:5000/logout
    "
        class="menu-link"
      >
        <i class=""></i>
        <div onclick="logout()" data-i18n="Analytics">Logout</div>
      </a>
    </li>
  </ul>
</aside>
